@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000c1;
}
  
#todo-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3rem;
    text-align: center;
}

#todo-list h1 {
    margin-top: 0;
    color:#fff;
}
#todoForm .container{
    display: flex;
    padding: 0 1rem;
    gap:0.5rem;
}
/* #title{
    width: 30%;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
} */
#new-task {
    width: 100%;
    padding: 1rem 0.5rem;
    margin-right: 10px;
    border-radius: 0.5rem;
}
  
#add-task {
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    color:black;
    background-color:white;
}
  
#task-list {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f2f2f2;
  }
  
.task button {
    margin-left: 10px;
}

#todo-list #my-div{
    color:white;
    padding:0.5rem 0;

}

button.delete-button {
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-left: 0.8rem;
    font-size: 15px;
}

button.delete-button:hover {
    background-color: #d22f0c;
}

.check-box {
    width: 30px;
    height: 30px;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}
  
